*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Nunito', 'sans-serif';
}
.logo{
	position:absolute;
	z-index:100;
	width:60%;
	padding:10px;
}
.logo img{
	width:10%;
	height:10%;
	
}


#menuicon{
	width:60%;
	height:60%;
}
#check{
    display: none;
}
#check:checked ~ .container{
    clip-path: circle(75%);
}
.menu_btn{
    position: absolute;
    right: 26px;
    top: 10px;
    z-index: 2;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    color: #fff;
    font-size: 17px;
    transition: all .4s ease;
}
.container{
    position: absolute;
	z-index: 1;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
	opacity: .7;
    background: linear-gradient(-135deg, #31218b, #1b789c);
    clip-path: circle(0px at calc(100% - 32px) 21px);
    transition: all 0.3s ease-in-out;
}
.container ul{ 
    float: right;
    margin-top: 9px;
    margin-right: 80px;
    list-style: none;
}
.container ul li{
    list-style: none;
    display: inline-block;
}
.container ul li a{
    position: relative;
    display: block;
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 0 30px;
    font-size: 18px;
    line-height: 34px;
}
.slider{
	overflow:hidden;
	height: 98vh;
	width:100%;
	height:100%;
}
.slider figure{
	position:relative;
	width:500%;
	margin:0;
	left:0;
	animation:20s slide infinite;
}
.slider figure img{
	width:20%;
	float:left;
}
@keyframes slide{
	0%{
		left:0;
	}
	20%{
		left:0;
	}
	25%{
		left:-100%;
	}
	45%{
		left:-100%;
	}
	50%{
		left:-200%;
	}
	70%{
		left:-200%;
	}
	75%{
		left:-300%;
	}
	95%{
		left:-300%;
	}
	100%{
		left:-400%;
	}
}
#m_text{
	position:absolute;
	width:100%;
	margin:0;
	top:0;
	left:0;
	padding:30px;
	font-size:3vw;
}
#m_text h1{
	color:white;
	text-shadow:2px 2px 5px black;
	
}
.sub_text{
	position:absolute;
	margin:0;
	top:30%;
	height:100%;
	width:60%;
	font-size:2vw;
	padding:30px;
}
.sub_text p{
	color:white;
	text-shadow:2px 2px 5px black;
	
}
.sub_text a{
	text-decoration:none;
	width:100%;
	color:white;
	background-color:red;
	padding:10px;
	border-radius:30px;
	font-size:1.5vw;
	padding-bottom:2px;
	padding-top:2px;
}


.container1{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #fff;
}
.container2{
	position: relative;
	background: #fff;
	width: 1000px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.container2 .box{
	position: relative;
	max-width: 450px;
	background: #70b3e9;
	margin: 10px;
	padding: 15px;
	display: flex;
	opacity: .7;
	border-radius: 5px;
	box-shadow: 3px 3px 10px blue;
	transition: .3s;
}
.container2 .box:hover{
	opacity: 1;
}
.container2 .box .imgbx{
	max-width: 150px;
	flex: 0 0 150px;
}
.container2 .box .imgbx img{
	max-width: 100%;
}
.container2 .box .content{
	margin-left: 20px;
	color: #fff;
}
.container2 .box .content h1{
	text-decoration: overline;
}

@media(max-width: 991px)
{
	.container2{
		flex-direction: column;
	}
}
@media(max-width: 768px)
{
	.container2{
		flex-direction: column;
	}
	}
	.container2 .box{
		flex-direction: column;
		max-width: 350px;
	}
	.container2 .box .imgbx{
		max-width: 100%;
	}
	.container2 .box .content{
		margin-left: 0px;
	}
	#m_text{
		flex-direction:column;
		max-width:350px;
	}
	
}

.container2 .box .content .p1{
	cursor: pointer;
	margin-left: 130px;
	width:10%;
	text-align: center;
	font-size: 20px;
	color:rgb(10, 33, 133);
}
.container2 .box .content .p2{
	cursor: pointer;
	margin-left: 130px;
	width:10%;
	text-align: center;
	font-size: 20px;
	color:rgb(10, 33, 133);
}
.container2 .box .content .p3{
	cursor: pointer;
	margin-left: 130px;
	width:10%;
	text-align: center;
	font-size: 20px;
	color:rgb(10, 33, 133);
}
.container2 .box .content .p4{
	cursor: pointer;
	margin-left: 130px;
	width:10%;
	text-align: center;
	font-size: 20px;
	color:rgb(10, 33, 133);
}
.container2 .box .content .p5{
	cursor: pointer;
	margin-left: 130px;
	width:10%;
	text-align: center;
	font-size: 20px;
	color:rgb(10, 33, 133);
}
.container2 .box .content .p6{
	cursor: pointer;
	margin-left: 130px;
	width:10%;
	text-align: center;
	font-size: 20px;
	color:rgb(10, 33, 133);
}
.container2 .box .content .p7{
	cursor: pointer;
	margin-left: 130px;
	width:10%;
	text-align: center;
	font-size: 20px;
	color:rgb(10, 33, 133);
}
.content a{
	text-decoration:none;
}




#footer{
	background-color:rgb(14, 12, 12);
}
#footer h3{
	text-align:center;
	color:white;
	font-size:30px;
	padding: 10px;
}
.footer-p{
	padding: 10px;
	font-size:15px;
	text-align:center;
	color:white;
}
.ft_icon{
	color:white;
	padding:15px 15px;
	font-size:20px;
	text-align:center;
	cursor:pointer;
}
.ft_icon ul li{
	list-style:none;
	display: inline-block;
}
.ft_icon p{
	color:white;
}
.ft_icon img{
	width:25px;
	height:25px;
	margin:-2px;
}
#profiles{
	color:white;
	position:absolute;
}
#pro1{
	float:left;
	width:45%;
	text-align:right;
}
#pro2{
	float:right;
	width:45%;
}
.footer-buttom{
	background-color:rgb(14, 12, 12);
	color:white;
	text-align:center;
	padding:50px;
}
.footer-buttom p{
	margin-top: 80px;
	padding: 40px;
}

